sudo: false
language: ruby
cache: bundler
notifications:
  email: false

before_install:
  - gem uninstall -v '>= 2' -i $(rvm gemdir)@global -ax bundler || true
  - gem install bundler -v '< 2'

script:
  - bundle exec rake

matrix:
  fast_finish: true
  include:
    - rvm: ruby-head
      gemfile: gemfiles/graphql/master.gemfile
    - rvm: 2.6
      gemfile: gemfiles/graphql/master.gemfile
    - rvm: 2.6
      gemfile: gemfiles/action_policy/master.gemfile
    - rvm: 2.6
      gemfile: gemfiles/action_policy/0.3.gemfile
    - rvm: jruby-9.2.5.0
      gemfile: gemfiles/jruby.gemfile
    - rvm: 2.6
      gemfile: Gemfile
    - rvm: 2.5
      gemfile: Gemfile
    - rvm: 2.4
      gemfile: Gemfile
  allow_failures:
    - rvm: ruby-head
      gemfile: gemfiles/graphql/master.gemfile
    - rvm: 2.6
      gemfile: gemfiles/graphql/master.gemfile
    - rvm: 2.6
      gemfile: gemfiles/action_policy/master.gemfile
